<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="pushbots-cordova-plugin" version="1.6.21-1">

  <name>Pushbots</name>

  <description>PushBots plugin for phonegap.</description>

  <author>Abdullah Diaa</author>

  <license>Apache 2.0</license>

  <keywords>push, notifications, pushnotifications, apns, GCM, FCM, C2DM, Android push notifications,Push Bots, PushBots, phonegap</keywords>

  <engines>
    <engine name="cordova" version=">=8.0.0"/>
    <engine name="cordova-android" version=">=8.0.0"/>
    <engine name="cordova-ios" version=">=4.4.0"/>
    <engine name="apple-ios" version=">=7.0.0" />
    <engine name="apple-xcode" version=">=8.0.0" />
  </engines>

  <!-- JavaScript interface -->
  <js-module src="www/pushbots.js" name="PushbotsPlugin" target="www/pushbots.js">
    <clobbers target="PushbotsPlugin" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <hook type="after_prepare" src="scripts/apply-to-gradle.properties.js" />
  </platform>

</plugin>